.App {
  min-height: 100vh;
  background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
 
}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: end;
  align-items: right;
  text-align: right;
}
.search-bar{
  width: 25%;
  height: 10%;
  border: none;
  padding: 10px;
  margin: 10px;
  color:rgb(104, 99, 99);
}
.search-button{
  background-image: linear-gradient(to right, #434343 0%, black 100%);
 
  background-blend-mode: normal, lighten, soft-light;;  
  margin: 10px;
  border:none;
  height: 6vh;
  width:8vh;
  text-align: center;
  border-radius: 5px;
  color: white;
}
.recepies{
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;

}